body {
    padding: 10px;
    background-color: #9177F2;
}
p {
    text-align: center;
    padding: auto;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #BDCAF2;
    background-color: #F277DE;
}