body {
    padding: 10px;
    background-color: #9177F2;
}
h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #BDCAF2;
    font-size: 50px;
}
h2 {
    text-align: center;
    padding: 15px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #BDCAF2;
    background-color: #F277DE;
}
p {
    text-align: center;
    padding: auto;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #FDCAF2;
    background-color: #9277DE;
    padding: 10px;
}
table, th, td {
    border: 3px solid #FF559E;
    background-color: #FF559E;
    border-collapse: collapse;
    padding: 10px;
    margin: 20%;
  }